// #client{
//     background-color: rgba(133, 234, 241, 0.705);
// }
// #rib{
//     background-color: rgba(252, 236, 92, 0.705);
// }


#solde{
    background-color:rgb(181 230 201 / 71%);
}

#act{
    background-color:rgb(236 193 193 / 71%);
}

tbody {
    display:block;
    height:470px;
    overflow:auto;
    overflow-x: hidden; 
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;/* even columns width , fix width of table too*/
}