.panel{
    background-color: aqua;
}
.ess{
    background-color: rgba(23, 17, 32, 0.952);
}
#conn{
   
     border-color: coral;
}
#cpt{
    background-color:rgb(234 234 234 / 85%);
}
#mt{
    background-color:rgb(236 193 193 / 71%);
}
#solde{
    background-color:rgb(181 230 201 / 71%);
}